#

In [0]:
# Load it into a DataFrame
df = spark.read.csv("/databricks-datasets/samples/population-vs-price/data_geo.csv", header=True, inferSchema=True)
df.show(5)
# Load the dataset from DBFS (Databricks Filesystem)
file_path = "/databricks-datasets/samples/population-vs-price/data_geo.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)
df.printSchema()
df.show(5)

+---------+-------------+-------+----------+------------------------+-----------------------+
|2014 rank|         City|  State|State Code|2014 Population estimate|2015 median sales price|
+---------+-------------+-------+----------+------------------------+-----------------------+
|      101|   Birmingham|Alabama|        AL|                  212247|                  162.9|
|      125|   Huntsville|Alabama|        AL|                  188226|                  157.7|
|      122|       Mobile|Alabama|        AL|                  194675|                  122.5|
|      114|   Montgomery|Alabama|        AL|                  200481|                  129.0|
|       64|Anchorage[19]| Alaska|        AK|                  301010|                   null|
+---------+-------------+-------+----------+------------------------+-----------------------+
only showing top 5 rows

root
 |-- 2014 rank: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- 2014 Population estimate: integer (nullable = true)
 |-- 2015 median sales price: double (nullable = true)

+---------+-------------+-------+----------+------------------------+-----------------------+
|2014 rank|         City|  State|State Code|2014 Population estimate|2015 median sales price|
+---------+-------------+-------+----------+------------------------+-----------------------+
|      101|   Birmingham|Alabama|        AL|                  212247|                  162.9|
|      125|   Huntsville|Alabama|        AL|                  188226|                  157.7|
|      122|       Mobile|Alabama|        AL|                  194675|                  122.5|
|      114|   Montgomery|Alabama|        AL|                  200481|                  129.0|
|       64|Anchorage[19]| Alaska|        AK|                  301010|                   null|
+---------+-------------+-------+----------+------------------------+-----------------------+
only showing top 5 rows

In [0]:
df_selected = df.select('City','State','State Code','2014 Population estimate','2015 median sales price')
df_selected.show()

+-------------+----------+----------+------------------------+-----------------------+
|         City|     State|State Code|2014 Population estimate|2015 median sales price|
+-------------+----------+----------+------------------------+-----------------------+
|   Birmingham|   Alabama|        AL|                  212247|                  162.9|
|   Huntsville|   Alabama|        AL|                  188226|                  157.7|
|       Mobile|   Alabama|        AL|                  194675|                  122.5|
|   Montgomery|   Alabama|        AL|                  200481|                  129.0|
|Anchorage[19]|    Alaska|        AK|                  301010|                   null|
|     Chandler|   Arizona|        AZ|                  254276|                   null|
|  Gilbert[20]|   Arizona|        AZ|                  239277|                   null|
|     Glendale|   Arizona|        AZ|                  237517|                   null|
|         Mesa|   Arizona|        AZ|                  464704|                   null|
|       Peoria|   Arizona|        AZ|                  166934|                   null|
|      Phoenix|   Arizona|        AZ|                 1537058|                  206.1|
|   Scottsdale|   Arizona|        AZ|                  230512|                   null|
|     Surprise|   Arizona|        AZ|                  126275|                   null|
|        Tempe|   Arizona|        AZ|                  172816|                   null|
|       Tucson|   Arizona|        AZ|                  527972|                  178.1|
|  Little Rock|  Arkansas|        AR|                  197706|                  131.8|
|      Anaheim|California|        CA|                  346997|                  685.7|
|      Antioch|California|        CA|                  108930|                   null|
|  Bakersfield|California|        CA|                  368759|                   null|
|     Berkeley|California|        CA|                  118853|                   null|
+-------------+----------+----------+------------------------+-----------------------+
only showing top 20 rows

## Scenario 1: Top 10 Most populous cities

In [0]:
df_selected.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- 2014 Population estimate: integer (nullable = true)
 |-- 2015 median sales price: double (nullable = true)

In [0]:
from pyspark.sql.functions import *
df_selected.groupBy('City').agg(sum('2014 Population estimate').alias('Population')).orderBy(desc('Population')).show(10)

+---------------+----------+
|           City|Population|
+---------------+----------+
|    New York[6]|   8491079|
|    Los Angeles|   3928864|
|        Chicago|   2722389|
|     Houston[7]|   2239558|
|Philadelphia[8]|   1560297|
|        Phoenix|   1537058|
|    San Antonio|   1436697|
|      San Diego|   1381069|
|         Dallas|   1281047|
|       San Jose|   1015785|
+---------------+----------+
only showing top 10 rows

In [0]:
from pyspark.sql.functions import *
display(df_selected.groupBy('City').agg(sum('2014 Population estimate').alias('Population')).orderBy(desc('Population')).limit(10))

City,Population
New York[6],8491079
Los Angeles,3928864
Chicago,2722389
Houston[7],2239558
Philadelphia[8],1560297
Phoenix,1537058
San Antonio,1436697
San Diego,1381069
Dallas,1281047
San Jose,1015785

Databricks visualization. Run in Databricks to view.

## Scenario 2: Average median sales price by State

In [0]:
from pyspark.sql.functions import *
df_selected.groupBy('State').agg(avg('2015 median sales price').alias('Average Median Sales')).orderBy(desc('Average Median Sales')).show()
display(df_selected.groupBy('State').agg(avg('2015 median sales price').alias('Average Median Sales')).orderBy(desc('Average Median Sales')))

+--------------------+--------------------+
|               State|Average Median Sales|
+--------------------+--------------------+
|             Hawai'i|               699.3|
|          California|   547.9714285714286|
|District of Columbia|               367.8|
|          New Jersey|               350.8|
|            Colorado|  333.46666666666664|
|          Washington|  266.29999999999995|
|       Massachusetts|               261.8|
|         Connecticut|  250.13333333333333|
|                Utah|               243.3|
|       New Hampshire|               237.4|
|              Nevada|               237.3|
|        Rhode Island|               233.3|
|              Oregon|  231.53333333333333|
|            Maryland|               223.1|
|           Wisconsin|               210.8|
|           Minnesota|               209.4|
|            Virginia|              201.25|
|             Arizona|               192.1|
|            New York|             185.775|
|        Pennsylvania|               183.8|
+--------------------+--------------------+
only showing top 20 rows

State,Average Median Sales
Hawai'i,699.3
California,547.9714285714286
District of Columbia,367.8
New Jersey,350.8
Colorado,333.46666666666664
Washington,266.29999999999995
Massachusetts,261.8
Connecticut,250.13333333333333
Utah,243.3
New Hampshire,237.4
Nevada,237.3
Rhode Island,233.3
Oregon,231.53333333333333
Maryland,223.1
Wisconsin,210.8
Minnesota,209.4
Virginia,201.25
Arizona,192.1
New York,185.775
Pennsylvania,183.8
North Dakota,180.0
Florida,178.77777777777777
Idaho,178.7
North Carolina,176.05714285714288
Texas,173.4777777777778
New Mexico,172.2
Louisiana,164.39999999999998
South Dakota,159.5
Georgia,158.0
Mississippi,154.1
Tennessee,152.825
Nebraska,149.14999999999998
Oklahoma,145.1
Alabama,143.025
Kentucky,141.14999999999998
Missouri,134.75
Iowa,133.15
Arkansas,131.8
Illinois,122.87499999999999
Indiana,122.75
Kansas,115.65
Michigan,114.6
Ohio,112.86666666666667
Alaska,null
Montana,null
South Carolina,null

Databricks visualization. Run in Databricks to view.

## Scenario 3: Filter cities with population > 1 million

In [0]:

df_selected.groupBy('City').agg(sum('2014 Population estimate').alias('Population')).filter(col('Population')>1000000).orderBy(desc('Population')).show()
display(df_selected.groupBy('City').agg(sum('2014 Population estimate').alias('Population')).filter(col('Population')>1000000).orderBy(desc('Population')))

+---------------+----------+
|           City|Population|
+---------------+----------+
|    New York[6]|   8491079|
|    Los Angeles|   3928864|
|        Chicago|   2722389|
|     Houston[7]|   2239558|
|Philadelphia[8]|   1560297|
|        Phoenix|   1537058|
|    San Antonio|   1436697|
|      San Diego|   1381069|
|         Dallas|   1281047|
|       San Jose|   1015785|
+---------------+----------+

City,Population
New York[6],8491079
Los Angeles,3928864
Chicago,2722389
Houston[7],2239558
Philadelphia[8],1560297
Phoenix,1537058
San Antonio,1436697
San Diego,1381069
Dallas,1281047
San Jose,1015785

Databricks visualization. Run in Databricks to view.

## Scenario 4: Identify cities with missing or zero price values

In [0]:
df_selected.filter((df_selected['2015 median sales price'].isNull())| (df_selected['2015 median sales price']==0)).show()

+-------------+----------+----------+------------------------+-----------------------+
|         City|     State|State Code|2014 Population estimate|2015 median sales price|
+-------------+----------+----------+------------------------+-----------------------+
|Anchorage[19]|    Alaska|        AK|                  301010|                   null|
|     Chandler|   Arizona|        AZ|                  254276|                   null|
|  Gilbert[20]|   Arizona|        AZ|                  239277|                   null|
|     Glendale|   Arizona|        AZ|                  237517|                   null|
|         Mesa|   Arizona|        AZ|                  464704|                   null|
|       Peoria|   Arizona|        AZ|                  166934|                   null|
|   Scottsdale|   Arizona|        AZ|                  230512|                   null|
|     Surprise|   Arizona|        AZ|                  126275|                   null|
|        Tempe|   Arizona|        AZ|                  172816|                   null|
|      Antioch|California|        CA|                  108930|                   null|
|  Bakersfield|California|        CA|                  368759|                   null|
|     Berkeley|California|        CA|                  118853|                   null|
|      Burbank|California|        CA|                  105368|                   null|
|     Carlsbad|California|        CA|                  112299|                   null|
|  Chula Vista|California|        CA|                  260988|                   null|
|       Clovis|California|        CA|                  102189|                   null|
|      Concord|California|        CA|                  127522|                   null|
|       Corona|California|        CA|                  161486|                   null|
|   Costa Mesa|California|        CA|                  112784|                   null|
|    Daly City|California|        CA|                  106094|                   null|
+-------------+----------+----------+------------------------+-----------------------+
only showing top 20 rows

In [0]:
df_selected.show(10000)

+------------------+--------------------+----------+------------------------+-----------------------+
|              City|               State|State Code|2014 Population estimate|2015 median sales price|
+------------------+--------------------+----------+------------------------+-----------------------+
|        Birmingham|             Alabama|        AL|                  212247|                  162.9|
|        Huntsville|             Alabama|        AL|                  188226|                  157.7|
|            Mobile|             Alabama|        AL|                  194675|                  122.5|
|        Montgomery|             Alabama|        AL|                  200481|                  129.0|
|     Anchorage[19]|              Alaska|        AK|                  301010|                   null|
|          Chandler|             Arizona|        AZ|                  254276|                   null|
|       Gilbert[20]|             Arizona|        AZ|                  239277|                   null|
|          Glendale|             Arizona|        AZ|                  237517|                   null|
|              Mesa|             Arizona|        AZ|                  464704|                   null|
|            Peoria|             Arizona|        AZ|                  166934|                   null|
|           Phoenix|             Arizona|        AZ|                 1537058|                  206.1|
|        Scottsdale|             Arizona|        AZ|                  230512|                   null|
|          Surprise|             Arizona|        AZ|                  126275|                   null|
|             Tempe|             Arizona|        AZ|                  172816|                   null|
|            Tucson|             Arizona|        AZ|                  527972|                  178.1|
|       Little Rock|            Arkansas|        AR|                  197706|                  131.8|
|           Anaheim|          California|        CA|                  346997|                  685.7|
|           Antioch|          California|        CA|                  108930|                   null|
|       Bakersfield|          California|        CA|                  368759|                   null|
|          Berkeley|          California|        CA|                  118853|                   null|
|           Burbank|          California|        CA|                  105368|                   null|
|          Carlsbad|          California|        CA|                  112299|                   null|
|       Chula Vista|          California|        CA|                  260988|                   null|
|            Clovis|          California|        CA|                  102189|                   null|
|           Concord|          California|        CA|                  127522|                   null|
|            Corona|          California|        CA|                  161486|                   null|
|        Costa Mesa|          California|        CA|                  112784|                   null|
|         Daly City|          California|        CA|                  106094|                   null|
|            Downey|          California|        CA|                  114172|                   null|
|          El Cajon|          California|        CA|                  103091|                   null|
|          El Monte|          California|        CA|                  116631|                   null|
|         Elk Grove|          California|        CA|                  163553|                   null|
|         Escondido|          California|        CA|                  150243|                   null|
|         Fairfield|          California|        CA|                  111125|                   null|
|           Fontana|          California|        CA|                  204950|                   null|
|           Fremont|          California|        CA|                  228758|                   null|
|            Fresno|          California|        CA|                  515986|                   null|
|         Fullerton|          California|        CA|                  139677|                   null|
|      Garden Grove|          California|        CA|                  175078|                   null|
|          Glendale|          California|        CA|                  200167|                   null|
|           Hayward|          California|        CA|                  154612|                   null|
|  Huntington Beach|          California|        CA|                  200809|                   null|
|         Inglewood|          California|        CA|                  111905|                   null|
|            Irvine|          California|        CA|                  248531|                   null|
|         Lancaster|          California|        CA|                  161043|                   null|
|        Long Beach|          California|        CA|                  473577|                   null|
|       Los Angeles|          California|        CA|                 3928864|                  434.7|
|           Modesto|          California|        CA|                  209286|                   null|
|     Moreno Valley|          California|        CA|                  202976|                   null|
|          Murrieta|          California|        CA|                  108368|                   null|
|           Norwalk|          California|        CA|                  107096|                   null|
|           Oakland|          California|        CA|                  413775|                   null|
|         Oceanside|          California|        CA|                  174558|                   null|
|           Ontario|          California|        CA|                  169089|                   null|
|            Orange|          California|        CA|                  139812|                   null|
|            Oxnard|          California|        CA|                  205437|                   null|
|          Palmdale|          California|        CA|                  158279|                   null|
|          Pasadena|          California|        CA|                  140881|                   null|
|            Pomona|          California|        CA|                  153350|                   null|
|  Rancho Cucamonga|          California|        CA|                  174305|                   null|
|            Rialto|          California|        CA|                  102741|                   null|
|          Richmond|          California|        CA|                  108565|                   null|
|         Riverside|          California|        CA|                  319504|                  281.0|
|         Roseville|          California|        CA|                  128615|                   null|
|        Sacramento|          California|        CA|                  485199|                  275.8|
|           Salinas|          California|        CA|                  156677|                   null|
|    San Bernardino|          California|        CA|                  215213|                   null|
|         San Diego|          California|        CA|                 1381069|                  510.3|
| San Francisco[10]|          California|        CA|                  852469|                  748.3|
|          San Jose|          California|        CA|                 1015785|                  900.0|
|         San Mateo|          California|        CA|                  102893|                   null|
|         Santa Ana|          California|        CA|                  334909|                   null|
|       Santa Clara|          California|        CA|                  122192|                   null|
|     Santa Clarita|          California|        CA|                  181557|                   null|
|       Santa Maria|          California|        CA|                  103410|                   null|
|        Santa Rosa|          California|        CA|                  174170|                   null|
|       Simi Valley|          California|        CA|                  126871|                   null|
|          Stockton|          California|        CA|                  302389|                   null|
|         Sunnyvale|          California|        CA|                  149980|                   null|
|          Temecula|          California|        CA|                  109428|                   null|
|     Thousand Oaks|          California|        CA|                  129342|                   null|
|          Torrance|          California|        CA|                  148495|                   null|
|           Vallejo|          California|        CA|                  120228|                   null|
|       Ventura[29]|          California|        CA|                  109484|                   null|
|       Victorville|          California|        CA|                  121901|                   null|
|           Visalia|          California|        CA|                  129281|                   null|
|       West Covina|          California|        CA|                  108455|                   null|
|            Arvada|            Colorado|        CO|                  113574|                   null|
|            Aurora|            Colorado|        CO|                  353108|                   null|
|           Boulder|            Colorado|        CO|                  105112|                  442.2|
|        Centennial|            Colorado|        CO|                  107201|                   null|
|  Colorado Springs|            Colorado|        CO|                  445830|                  220.1|
|        Denver[12]|            Colorado|        CO|                  663862|                  338.1|
|      Fort Collins|            Colorado|        CO|                  156480|                   null|
|          Lakewood|            Colorado|        CO|                  149643|                   null|
|            Pueblo|            Colorado|        CO|                  108423|                   null|
|          Thornton|            Colorado|        CO|                  130307|                   null|
|       Westminster|            Colorado|        CO|                  112090|                   null|
|        Bridgeport|         Connecticut|        CT|                  147612|                  342.7|
|          Hartford|         Connecticut|        CT|                  124705|                  202.6|
|         New Haven|         Connecticut|        CT|                  130282|                  205.1|
|          Stamford|         Connecticut|        CT|                  128278|                   null|
|         Waterbury|         Connecticut|        CT|                  109307|                   null|
|    Washington[13]|District of Columbia|        DC|                  658893|                  367.8|
|        Cape Coral|             Florida|        FL|                  169854|                  208.0|
|        Clearwater|             Florida|        FL|                  110703|                   null|
|     Coral Springs|             Florida|        FL|                  127952|                   null|
|   Fort Lauderdale|             Florida|        FL|                  176013|                   null|
|       Gainesville|             Florida|        FL|                  128460|                  169.9|
|           Hialeah|             Florida|        FL|                  235563|                   null|
|         Hollywood|             Florida|        FL|                  148047|                   null|
|   Jacksonville[9]|             Florida|        FL|                  853382|                  182.5|
|          Lakeland|             Florida|        FL|                  102346|                  136.0|
|             Miami|             Florida|        FL|                  430332|                  269.1|
|     Miami Gardens|             Florida|        FL|                  112265|                   null|
|           Miramar|             Florida|        FL|                  134989|                   null|
|           Orlando|             Florida|        FL|                  262372|                   null|
|          Palm Bay|             Florida|        FL|                  105838|                  145.0|
|    Pembroke Pines|             Florida|        FL|                  164626|                   null|
|     Pompano Beach|             Florida|        FL|                  106105|                   null|
|    Port St. Lucie|             Florida|        FL|                  174110|                  172.0|
|    St. Petersburg|             Florida|        FL|                  253693|                   null|
|       Tallahassee|             Florida|        FL|                  188107|                  170.5|
|             Tampa|             Florida|        FL|                  358699|                  156.0|
|   West Palm Beach|             Florida|        FL|                  104031|                   null|
|        Athens[28]|             Georgia|        GA|                  119648|                   null|
|           Atlanta|             Georgia|        GA|                  456002|                  158.0|
|       Augusta[24]|             Georgia|        GA|                  196741|                   null|
|      Columbus[23]|             Georgia|        GA|                  200887|                   null|
|             Macon|             Georgia|        GA|                    null|                   null|
|     Sandy Springs|             Georgia|        GA|                  101908|                   null|
|          Savannah|             Georgia|        GA|                  144352|                   null|
|       Honolulu[2]|             Hawai'i|        HI|                  350399|                  699.3|
|         Boise[22]|               Idaho|        ID|                  216282|                  178.7|
|            Aurora|            Illinois|        IL|                  200456|                   null|
|           Chicago|            Illinois|        IL|                 2722389|                  192.5|
|             Elgin|            Illinois|        IL|                  111117|                   null|
|            Joliet|            Illinois|        IL|                  147928|                   null|
|        Naperville|            Illinois|        IL|                  146128|                   null|
|            Peoria|            Illinois|        IL|                  115828|                  105.2|
|          Rockford|            Illinois|        IL|                  149123|                   78.6|
|       Springfield|            Illinois|        IL|                  116809|                  115.2|
|        Evansville|             Indiana|        IN|                  120346|                   null|
|        Fort Wayne|             Indiana|        IN|                  258522|                  106.3|
|  Indianapolis[11]|             Indiana|        IN|                  848788|                  139.2|
|      Cedar Rapids|                Iowa|        IA|                  129195|                  156.9|
|         Davenport|                Iowa|        IA|                  102448|                  109.4|
|        Des Moines|                Iowa|        IA|                  209220|                   null|
|   Kansas City[26]|              Kansas|        KS|                  149636|                   null|
|            Olathe|              Kansas|        KS|                  133062|                   null|
|     Overland Park|              Kansas|        KS|                  184525|                   null|
|            Topeka|              Kansas|        KS|                  127215|                  105.3|
|           Wichita|              Kansas|        KS|                  388413|                  126.0|
|     Lexington[18]|            Kentucky|        KY|                  310797|                  141.2|
|    Louisville[16]|            Kentucky|        KY|                  612780|                  141.1|
|   Baton Rouge[21]|           Louisiana|        LA|                  228895|                  177.2|
|     Lafayette[27]|           Louisiana|        LA|                  126066|                   null|
|   New Orleans[17]|           Louisiana|        LA|                  384320|                   null|
|        Shreveport|           Louisiana|        LA|                  198242|                  151.6|
|     Baltimore[15]|            Maryland|        MD|                  622793|                  223.1|
|            Boston|       Massachusetts|        MA|                  655884|                  374.6|
|         Cambridge|       Massachusetts|        MA|                  109694|                   null|
|            Lowell|       Massachusetts|        MA|                  109945|                   null|
|       Springfield|       Massachusetts|        MA|                  153991|                  183.9|
|         Worcester|       Massachusetts|        MA|                  183016|                  226.9|
|         Ann Arbor|            Michigan|        MI|                  117770|                   null|
|           Detroit|            Michigan|        MI|                  680250|                   null|
|      Grand Rapids|            Michigan|        MI|                  193792|                   null|
|           Lansing|            Michigan|        MI|                  114620|                  114.6|
|  Sterling Heights|            Michigan|        MI|                  131741|                   null|
|            Warren|            Michigan|        MI|                  135099|                   null|
|       Minneapolis|           Minnesota|        MN|                  407207|                  209.4|
|         Rochester|           Minnesota|        MN|                  111402|                   null|
|        Saint Paul|           Minnesota|        MN|                  297640|                   null|
|           Jackson|         Mississippi|        MS|                  171155|                  154.1|
|          Columbia|            Missouri|        MO|                  116906|                   null|
|      Independence|            Missouri|        MO|                  117494|                   null|
|       Kansas City|            Missouri|        MO|                  470800|                  153.0|
|       Springfield|            Missouri|        MO|                  165378|                  116.5|
|     St. Louis[15]|            Missouri|        MO|                  317419|                   null|
|          Billings|             Montana|        MT|                  108869|                   null|
|           Lincoln|            Nebraska|        NE|                  272996|                  150.2|
|             Omaha|            Nebraska|        NE|                  446599|                  148.1|
|         Henderson|              Nevada|        NV|                  277440|                   null|
|         Las Vegas|              Nevada|        NV|                  613599|                  205.9|
|   North Las Vegas|              Nevada|        NV|                  230788|                   null|
|              Reno|              Nevada|        NV|                  236995|                  268.7|
|        Manchester|       New Hampshire|        NH|                  110448|                  237.4|
|         Elizabeth|          New Jersey|        NJ|                  128705|                   null|
|       Jersey City|          New Jersey|        NJ|                  262146|                   null|
|            Newark|          New Jersey|        NJ|                  280579|                  350.8|
|          Paterson|          New Jersey|        NJ|                  146753|                   null|
|       Albuquerque|          New Mexico|        NM|                  557169|                  172.2|